<div class="container">
    <form>
        <h1 id="heading"> Send a Message</h1>
        
        <div>
            <label for="username">Name</label>
            <input required type="text" name="username" class="form-control" placeholder="Enter your Name...">
        </div>
        <br>


        <div>
            <label for="email">Email</label>
            <input required type="text" name="email" class="form-control" placeholder="name@example.com">
        </div>
        <br>

        <div>
            <label for="userId">Subject</label>
            <input required type="text" name="subject" class="form-control" placeholder="Enter your Subject">
        </div>
        <br>

        <div>
            <label for="password">Message</label>
            <textarea  name="textarea" rows="5"  class="form-control" placeholder="Enter your mesage" ></textarea>
        
        </div>

        <br>
        <br>

        <button class="btn btn-primary" type="submit">Submit</button>
        
    </form>
</div>


