<!--Carousel-->
<div id="car">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/carousel1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/carousel2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/carousel3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--Blogs-->


<button class="btn btn-primary" (click)="printblogs()">Check out the Collection!!!</button>


<Label>Historical Genre</Label>
<ul id="blogalign">
    <li *ngFor="let x of blogs">
        <div class="book">
            <p> {{x}}</p>
            <div class="cover">
                <p></p>
            </div>
        </div>
    </li>
</ul>
<pre></pre>
<label for="">Other Genres</label>
<pre></pre>
<ul id="blogalign">
    <li *ngFor="let x of blogs">
        <div class="book">
            <p> {{x}}</p>
            <div class="cover">
                <p>Hover Me</p>
            </div>
        </div>
    </li>
</ul>

<ul id="blogalign">
    <li *ngFor="let x of blogs">
        <div class="book">
            <p> {{x}}</p>
            <div class="cover">
                <p>Hover Me</p>
            </div>
        </div>
    </li>
</ul>
